.p1 {
  font-size: 40px;
  color: aliceblue;
  font-family: 'Oswald', sans-serif;
  margin-top: 10px;
}

.p2 {
  font-size: 40px;
  color: aliceblue;
  font-family: 'Oswald', sans-serif;
}

button {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: aliceblue;
  background-color: transparent;
  border: none;
  border-color: rgb(107, 107, 222);
  border-radius: 55px;
  border-style: solid;
  border-width: 7px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
}

.main {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 30%;
  left: 25%;
  right: 25%;
  padding: 15px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(187, 102, 102);
  width: 500px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

.pic{
  position: absolute;
  top: 15%;
  left: 10%;
}